<!DOCTYPE html>
<html lang="en">
<head>
  <title>PE Tracker</title>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Welcome to PE-Tracker</h1>
  <% buttons.forEach(function(b) { %>
    <button id="<%= b.id %>" onclick="javascript:send(<%= b.id %>);">
      <%= b.name %>
    </button>
    <h3><%= b.count %></h3>
  <% }); %>
  <button id="reset" onclick="javascript:send(3)">Reset</button>
  <script>
    const output = document.getElementById("output");
    const send = async function(buttonId) {
      const response = await fetch("/log", {
        method: "POST",
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          id: buttonId
        })
      });
      const result = await response.json();
      if (result.error) {
        output.innerHTML = `<strong>ERROR: ${result.error.routine}</strong>`;
      }
      else {
        console.log(result);
      }
    };
  </script>
</body>
</html>